/*=====Spin1=====*/
.spin1{
	animation: spin1 7s;
}
@keyframes spin1 {
	0% {
		transform: rotate(292.5deg);
    }
	10% {
		transform: rotate(360deg);
    }
	20% {
        transform: rotate(0deg);
    }
	30% {
		transform: rotate(360deg);
    }
	40% {
        transform: rotate(0deg);
    }
	50% {
		transform: rotate(45deg);
    }
	60% {
		transform: rotate(292.5deg);
    }
	100% {
		transform: rotate(292.5deg);
    }
}

/*=====Spin2=====*/
.spin2{
	animation: spin2 7s;
}
@keyframes spin2 {
	0% {
		transform: rotate(292.5deg);
    }
	10% {
		transform: rotate(360deg);
    }
	20% {
        transform: rotate(0deg);
    }
	30% {
		transform: rotate(360deg);
    }
	40% {
        transform: rotate(45deg);
    }
	50% {
		transform: rotate(90deg);
    }
	60% {
		transform: rotate(247.5deg);
    }
	100% {
		transform: rotate(247.5deg);
    }
}


/*=====Spin3=====*/
.spin3{
	animation: spin3 7s;
}
@keyframes spin3 {
	0% {
		transform: rotate(292.5deg);
    }
	10% {
		transform: rotate(360deg);
    }
	20% {
        transform: rotate(0deg);
    }
	30% {
		transform: rotate(360deg);
    }
	40% {
        transform: rotate(90deg);
    }
	50% {
		transform: rotate(135deg);
    }
	60% {
		transform: rotate(112.5deg);
    }
	100% {
		transform: rotate(112.5deg);
    }
}


/*=====Spin4=====*/
.spin4{
	animation: spin4 7s;
}
@keyframes spin4 {
	0% {
		transform: rotate(292.5deg);
    }
	10% {
		transform: rotate(360deg);
    }
	20% {
        transform: rotate(0deg);
    }
	30% {
		transform: rotate(360deg);
    }
	40% {
        transform: rotate(90deg);
    }
	50% {
		transform: rotate(180deg);
    }
	60% {
		transform: rotate(67.5deg);
    }
	100% {
		transform: rotate(67.5deg);
    }
}

/*=====Spin5=====*/
.spin5{
	animation: spin5 7s;
}
@keyframes spin5 {
	0% {
		transform: rotate(292.5deg);
    }
	10% {
		transform: rotate(360deg);
    }
	20% {
        transform: rotate(0deg);
    }
	30% {
		transform: rotate(360deg);
    }
	40% {
        transform: rotate(0deg);
    }
	50% {
		transform: rotate(360deg);
    }
	60% {
		transform: rotate(337.5deg);
    }
	100% {
		transform: rotate(337.5deg);
    }
}

/*=====Spin6=====*/
.spin6{
	animation: spin6 7s;
}
@keyframes spin6 {
	0% {
		transform: rotate(292.5deg);
    }
	10% {
		transform: rotate(360deg);
    }
	20% {
        transform: rotate(0deg);
    }
	30% {
		transform: rotate(360deg);
    }
	40% {
        transform: rotate(0deg);
    }
	50% {
		transform: rotate(180deg);
    }
	60% {
		transform: rotate(202.5deg);
    }
	100% {
		transform: rotate(202.5deg);
    }
}

/*=====Spin7=====*/
.spin7{
	animation: spin7 7s;
}
@keyframes spin7 {
	0% {
		transform: rotate(292.5deg);
    }
	10% {
		transform: rotate(0deg);
    }
	20% {
        transform: rotate(360deg);
    }
	30% {
		transform: rotate(0deg);
    }
	40% {
        transform: rotate(180deg);
    }
	50% {
		transform: rotate(270deg);
    }
	60% {
		transform: rotate(157.5deg);
    }
	100% {
		transform: rotate(157.5deg);
    }
}

/*=====Spin8=====*/
.spin8{
	animation: spin8 7s;
}
@keyframes spin8 {
	0% {
		transform: rotate(292.5deg);
    }
	10% {
		transform: rotate(360deg);
    }
	20% {
        transform: rotate(0deg);
    }
	30% {
		transform: rotate(360deg);
    }
	40% {
        transform: rotate(270deg);
    }
	50% {
		transform: rotate(315deg);
    }
	60% {
		transform: rotate(22.5deg);
    }
	100% {
		transform: rotate(22.5deg);
    }
}
