
.top-banner {
    /*background-color: rgb(233, 27, 27);*/
    background: rgb(2, 148, 124);
    background-image: repeating-linear-gradient(#323232 10%, rgb(97, 97, 97), rgb(69, 69, 69) 20%);
    background-blend-mode:overlay;
}

.game-show-title {
    font-family: "Arial Black", sans-serif;
    font-size: 4vw;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* ====================== */

.prizeSection {
    background: rgb(71, 14, 98);
    color: white;
    padding: 20px;
    font-weight: bold;
}

/* ====================== */

.buttonSection {
    background-color: black;
    padding: 20px;
    background-image: repeating-linear-gradient(white , silver 10%, white 20%);
    background-blend-mode:overlay;
}
  

#save-btn {
    color: rgb(255, 255, 255);
    background: rgb(2, 148, 124);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-width: 5px;
}

#save-btn:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 109, 128);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    border-width: 5px;
}


#spin-btn {
    color: rgb(255, 255, 255);
    background: rgb(0, 123, 255);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    border-color: white;
    border-style: dashed;
    border-width: 5px;
}

#spin-btn:hover {
    color: rgb(255, 255, 255);
    background: blue;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
    border-color: white;
    border-style: dashed;
    border-width: 5px;
}

/* ====================== */


.downArrow {
    font-size: 30px;
}


.spinSection2 {
    background-image: linear-gradient(to right, rgb(50, 50, 50), white, rgb(50, 50, 50));
}

.spinSection {
    background-image:
    linear-gradient(45deg, #526172 25%, transparent 25%),
    linear-gradient(-45deg, #512b65 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #345a6e 75%),
    linear-gradient(-45deg, transparent 75%, #8470a2 75%);
  background-size: 30px 30px;
  background-position: 0 0, 20px 0, 20px -20px, 0px 20px;
}


/* ====================== */
  
#pizza {
    background-color: tan;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 9px solid black;
    transform: rotate(292.5deg);
}

/* ====================== */

  #pizzaslice1 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    left: 50%;
    top: -50%;
    background: blue;
    transform-origin: left bottom;
    transform: skewY(0deg) skewX(-45deg);
    border: 1px solid black;
  }

  #slicetxt1 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: left;
    margin-top: 50%;
    transform: skewX(45deg) rotate(67.5deg);
    position: absolute;
    width: 70%;
    height: 50%;
    transform-origin: -45% 0%;
  }

/* ====================== */

  #pizzaslice2 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    left: 150%;
    top: 50%;
    background: navy;
    transform-origin: left bottom;
    transform: skewY(0deg) skewX(45deg);
    border: 1px solid black;
  }

  #slicetxt2 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: left;
    margin-top: 50%;
    transform: skewX(-45deg) rotate(112.5deg);
    position: absolute;
    width: 70%;
    height: 50%;
    transform-origin: 25% -40%;
  }

/* ====================== */

  #pizzaslice3 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    left: -150%;
    top: 50%;
    background: rgb(0, 123, 255);
    transform-origin: left bottom;
    transform: skewY(0deg) skewX(-45deg);
    border: 1px solid black;
  }

  #slicetxt3 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: right;
    margin-top: 50%;
    transform: skewX(45deg) rotate(-112.5deg);
    position: absolute;
    width: 70%;
    height: 50%;
    transform-origin: 90% -55%;
  }

/* ====================== */

  #pizzaslice4 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    left: -50%;
    top: -50%;
    background: rgb(0, 109, 128);
    transform-origin: left bottom;
    transform: skewY(0deg) skewX(45deg);
    border: 1px solid black;
  }

  #slicetxt4 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: right;
    margin-top: 50%;
    transform: skewX(-45deg) rotate(-67.5deg);
    position: absolute;
    width: 70%;
    height: 50%;
    transform-origin: 230% -180%;
  }


/* ====================== */  

  #pizzaslice5 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    left: 50%;
    top: -50%;
    background: rgb(87, 0, 128);
    transform-origin: left bottom;
    transform: skewY(-45deg) skewX(0deg);
    border: 1px solid black;
  }

  #slicetxt5 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: left;
    margin-top: 50%;
    transform: skewY(45deg) rotate(22.5deg);
    position: absolute;
    width: 70%;
    height: 50%;
    transform-origin: -10% 40%;
  }

/* ====================== */

  #pizzaslice6 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    left: 50%;
    top: 50%;
    background: rgb(2, 148, 124);
    transform-origin: left bottom;
    transform: skewY(45deg) skewX(0deg);
    border: 1px solid black;
  }

  #slicetxt6 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: right;
    margin-top: 50%;
    transform: skewY(-45deg) rotate(157.5deg);
    position: absolute;
    width: 70%;
    height: 50%;
    transform-origin: 62% -72.5%;
  }

/* ====================== */

  #pizzaslice7 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    left: -50%;
    top: 150%;
    background: rgb(141, 9, 145);
    transform-origin: left bottom;
    transform: skewY(-45deg) skewX(0deg);
    border: 1px solid black;
  }

  #slicetxt7 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: left;
    margin-top: 0%;
    transform: skewY(45deg) rotate(-157.5deg);
    position: absolute;
    width: 50%;
    height: 50%;
    transform-origin: 90% -40%;
  }

/* ====================== */

  #pizzaslice8 {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0%;
    left: -50%;
    top: -150%;
    background: rgb(55, 55, 155);
    transform-origin: left bottom;
    transform: skewY(45deg) skewX(0deg);
    border: 1px solid black;
  }

  #slicetxt8 {
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: right;
    margin-top: 50%;
    transform: skewY(-45deg) rotate(-22.5deg);
    position: absolute;
    width: 70%;
    height: 50%;
    transform-origin: 150% -115%;
  }



  